name: Windows Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        shell: pwsh
        run: |
          irm https://astral.sh/uv/install.ps1 | iex
          uv --version
      - name: Build
        run: .\build.bat
      - uses: actions/upload-artifact@v4
        with:
          name: GiftVoucherCategorizer-windows
          path: dist\GiftVoucherCategorizer\**
